<!DOCTYPE html>
<html>
  <head>
    <title>Mi página de inicio</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  </head>
  <body>
    <h1>Bienvenido a mi sitio de películas</h1>
    <p>Aquí encontrarás una amplia selección de películas para disfrutar.</p>
    <a href="/movies"><button>Ver películas</button></a>
  </body>
</html>